@use "../../styles/colors";

.wrapper {
  padding: 0px;
  background-color: colors.$background_default;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.paper {
  max-width: 350px;
  width: 100%;
  font-size: 10rem;
  position: relative;
  top: 180px;
  text-align: center;
}

.default {
  background-image: url('../../../public/images/logo.svg');
}

.muted {
  background-image: url('../../../public/images/logo-muted.svg');
}

@media (min-width: 1536px) {
  .css-ispybl-MuiContainer-root {
    max-width: 100%;
}
}

.css-ispybl-MuiContainer-root {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding: 0 10%;
}

.customSearch {
  position: relative;
  border-radius: 50px;
  background-color: rgb(0 0 0);
  margin-right: 24px;
  margin-left: 0;
  width: 100%;
}